html, body {
  font-family: "Questrial", "Microsoft JhengHei";
  background: rgb(240, 240, 240);
}

.header {
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
}

.wrapper {
  background: #fdebcfb6;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  max-width: 720px;
  padding: 1.5rem;
  border: solid 0.2px rgba(108, 178, 206, 0.219);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.list__title {
  color: rgb(108, 178, 206);
  font-size: 52px;
  font-weight: bold;
  border-bottom: dotted;
  margin: 1.5rem auto;
}

.list__input {
  max-width: 700px;
  overflow: hidden;
}

.list__input-block{
  color: rgb(108, 178, 206);
  background: #f8f9fa;
  width: 80%;
  font-size: 18px;
  outline: none;
  vertical-align: middle;
  padding: 0.5rem;
  border: none;
  margin-left: 3rem;
}

.list__input::-webkit-input-placeholder {
  color: rgb(187, 187, 187);
  border: none;
  margin-left: 0.2rem;
}

.list__input-bottomline {
  width: 0;
  height: 1px;
  background: rgb(108, 178, 206);
  padding: none;
  margin: 0.2rem;
  transition: 0.5s;
}

input:not(:placeholder-shown) + div {
  width: 85%;
  margin-left: 3rem;
}

.section_buttons {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
}

.todolist {
  margin: 1.5rem;
}

.list__content {
  display: flex;
  padding: 1.5rem;
  cursor: pointer;
}

.list__content:hover {
  background: #fffaf2;
}

.content__checkbox {
  background: none;
  outline: none;
  width: 2px;
  height: 2px;
  border: solid 1.5px rgb(108, 178, 206);
  border-radius: 20%;
  padding: 10px;
  margin-left: 1.5rem;
  transition: 0.3s;
  cursor: pointer;
}

.list__content.checked .content__checkbox {
  background: rgb(108, 178, 206);
  transform: scale(0.8);
}

.content__item {
  color: rgb(108, 178, 206);
  font-size: 20px;
  font-weight: bold;
  flex: 1;
  overflow: hidden;
  margin-left: 1rem;
  transition: .3s;
  cursor: pointer;
}

.list__content.checked .content__item{
  color: #9ed3c9c2;
  text-decoration: line-through;
  transform: scale(0.95);
}

.content__btn-delete {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  position: relative;
  transition: 0.3s;
}

.content__btn-delete:hover,
.content__checkbox:hover {
  transform: scale(0.8);
}

.content__btn-delete::before,
.content__btn-delete::after{
  content: "";
  position: absolute;
  height: 20px;
  width: 1.5px;
  top: 2px;
  right: 9px;
 background: rgb(108, 178, 206);
}

.content__btn-delete::before {
  transform: rotate(45deg);
}

.content__btn-delete::after {
  transform: rotate(-45deg);
}


@media(max-width: 768px) {
  .wrapper {
    width: min-content;
    max-width: 640px;
  }

  .list__input {
    flex-direction: column;
    max-width: 700px;
    overflow: hidden;
    margin: 0 auto;
  }

  .list__input-block{
    width: 60%;
    margin-left: 1.3rem;
  }

  input:not(:placeholder-shown) + div {
    width: 75%;
    margin-left: 3rem;
  }

  .content__checkbox {
    margin-left: 1rem;
  }

  .list__content {
    display: flex;
    padding: 0.2rem;
    cursor: pointer;
  }

  .content__btn-delete {
    width: 20px;
    height: 20px;
    margin: auto 1rem;
    position: relative;
    transition: 0.3s;
  }

  .section_buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}
